.tableWrapper {
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  overflow: hidden;
  background-color: #ffffff;
}

.table {
  margin: 0;
  thead {
    background-color: #f9fafb;
    th {
      font-weight: 600;
      color: #4b5563;
      border-bottom: none;
    }
  }

  tbody {
    td {
      vertical-align: middle;
    }
  }
}
